/*
 *  Author:    Brennan Cain
 *  Email:     brenn.cain@gmail.com
 */
/*
    Created on : Jul 2, 2016, 1:10:47 PM
    Author     : Brennan Cain
*/
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
html {
    position: relative;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: white;
}
p {
    color: black;
    font-size: 3vmin;
    text-indent: 40px;
}

ul {
    list-style:none;
}
h1 {
    color:rgb(124, 0, 200)
}
h2 {
    color:rgb(0, 161, 81)
}
h4 {
    color:rgb(124, 0, 200)
}
h5 {
    color:rgb(0, 161, 81)
}
